In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Q1. Create a pandas series that contains the following data : 4,8,15,16,23and 42.then print the series.

In [2]:
import pandas as pd
data = [4,8,15,16,23,42]
series= pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
import pandas as pd
my_list = [1,2,3,4,5,6,7,8,9,10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [6]:
import pandas as pd
df = pd.DataFrame({'Name': ['Alice' ,'Bob', 'Claire'] ,'Age': [25,30,27], 'Gender': ['Female', 'Male','Female']})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas , a dataframe is a two  dimensonal labeled structure with coloumns of potentially different data types. it is similar to a 
spreadsheet or a sql table ,where each column can have a different data type . it is the most commonly used pandas object and is used for data manipulation, cleaning, analysis, and visulization.

In [9]:
#Example
import pandas as pd
my_series = pd.Series([10,20,30,40,50], name= 'number')
my_dataframe = pd.DataFrame({
    'Name': ["shekhar", "Raj", "Tony" ,"Steve"],
    "Age": [ 40,30,28,50],
    "Salary" : [ 5000, 10000, 15000 , 12000]
})
print(my_series)
print()
print(my_dataframe)

0    10
1    20
2    30
3    40
4    50
Name: number, dtype: int64

      Name  Age  Salary
0  shekhar   40    5000
1      Raj   30   10000
2     Tony   28   15000
3    Steve   50   12000

Q5. What are some common function you can use to mainuplate data in pandas DataFrame? can you give an example of when you miight use one of these function?

pandas provide a wide range of function for mainuplating and transforming data in a Data frame.
1. head() and tail() - These function are used to display the first and last few rows of a DataFrame, respectively.
2. describe() - This function is used to generate desprective statistics for the data in a DataFrame. It calculates things like the mean , standard,
deviation , minium, and maximum values for each column.

In [1]:
#Example head and tail
import pandas as pd
df = pd.DataFrame({'name': ['Raj', 'Bob', 'Charlie'], 'age': [25,30,35]})
print(df.head(2))
print(df.tail(1))

  name  age
0  Raj   25
1  Bob   30
      name  age
2  Charlie   35

In [2]:
#Example describe
import pandas as pd
df = pd.DataFrame({
    "name": ["Raj" , "Sekhar" , "vinod", "Abhay"],
    "age" : [25,22,30,40]
})
print(df.describe())

             age
count   4.000000
mean   29.250000
std     7.889867
min    22.000000
25%    24.250000
50%    27.500000
75%    32.500000
max    40.000000

Q6. Which of the following is mutable in nature series , DataFrame,panel?

A Pandas DataFrame and panel are mutable in nature while a series is immutable.

Q7. Create a DataFrame using multiple series . explain with an example.

In [7]:
import pandas as pd
name = pd.Series(["Sekhar", "Vinod", "Abhishek"])
Class = pd.Series([10,12,11])
df = pd.DataFrame({"Name": name, "Classes": Class})
print(df)

       Name  Classes
0    Sekhar       10
1     Vinod       12
2  Abhishek       11